git lfs install
git lfs track "*.dat"
git lfs track "*.pkl"
git add .gitattributes
git add shape_predictor_68_face_landmarks.dat dlib_face_recognition_resnet_model_v1.dat best_model.pkl
git commit -m "Add model files via LFS"
git push
